# 날씨-눈 데이터 결합

In [54]:
dlist = {'경기날씨':'경기눈', '경남날씨':'경남눈','경북날씨':'경북눈','서울날씨':'서울눈'}

In [55]:
for i, j in dlist.items():
    df1 = pd.read_csv('/Users/lesson6_mac/Downloads/TeamProject/trial2/날씨데이터_old/{}.csv'.format(i))
    df2= pd.read_csv('/Users/lesson6_mac/Downloads/TeamProject/trial2/날씨데이터_old/{}.csv'.format(j))
    df = df1.merge(df2, on='date')
    df.to_excel('{}{}.xlsx'.format(i,j))

# 날씨눈-산악사고 데이터 결합

In [56]:
dlist = {'Gyeongnam':'경남','Seoul':'서울','GyeongGi':'경기','GyeongBook':'경북'}

In [62]:
for i, j in dlist.items():
    df1 = pd.read_excel('/Users/lesson6_mac/Downloads/TeamProject/trial2/산악데이터.xlsx', sheet_name='{}'.format(i))
    df2 = pd.read_excel('/Users/lesson6_mac/Downloads/TeamProject/trial2/날씨눈/{}.xlsx'.format(j))
    df = df2.merge(df1, how='outer', on='date')
    df.to_excel('{}.xlsx'.format(j))

# 날씨사고 데이터 정제

In [1]:
dlist = ['경남','서울','경기','경북']

In [75]:
for i in dlist:
    df = pd.read_excel('/Users/lesson6_mac/Downloads/TeamProject/trial2/날씨사고/{}.xlsx'.format(i))
    df.drop(['date','cause','context'], axis = 1, inplace=True)
    df.rename(columns={'Humi':'humi'}, inplace=True)
    df.accident.fillna(0,inplace=True)
    df.to_excel('{}.xlsx'.format(i))

In [2]:
# nan 값 처리
for i in dlist:
    df = pd.read_excel('/Users/lesson6_mac/Downloads/TeamProject/trial2/temp/{}.xlsx'.format(i))
    df[['rain','snow']]=df[['rain','snow']].fillna(0)
    df.dropna(inplace=True)
    df.to_excel('{}.xlsx'.format(i))

In [9]:
dlist = ['경기','경북']

In [10]:
# 한개의 파일로 합체
for i in dlist:
    df1 = pd.read_excel('/Users/lesson6_mac/Downloads/TeamProject/trial2/{}.xlsx'.format(i))
    df = df.append(df1)

In [5]:
df = pd.read_excel('/Users/lesson6_mac/Downloads/TeamProject/trial2/경남.xlsx')
df.head()

   temp  wind  rain  humi   dew  snow  accident
0 -5.35  1.50  0.00  70.0 -9.85   0.0         0
1 -5.75  1.35  0.00  71.5 -9.85   0.0         0
2 -2.95  1.50  0.00  69.5 -6.15   0.0         0
3 -0.25  2.30  0.25  70.5 -3.45   0.0         0
4  0.80  3.90  0.00  69.5 -2.25   0.0         0

In [6]:
df1 = pd.read_excel('/Users/lesson6_mac/Downloads/TeamProject/trial2/서울.xlsx')
df1.head()

    temp   wind   rain   humi     dew    snow  accident
0 -9.300  1.775  0.000  64.50 -14.150   7.000         0
1 -9.200  2.025  0.000  65.25 -14.075   7.000         0
2 -4.525  2.275  0.250  80.00  -8.425  10.725         0
3 -4.075  1.550  0.000  76.50  -7.525  10.700         0
4 -3.400  1.825  0.125  84.25  -5.500  11.175         0

In [8]:
df = df.append(df1)

    temp  wind  rain  humi    dew  snow  accident
0  -5.35  1.50  0.00  70.0  -9.85   0.0         0
1  -5.75  1.35  0.00  71.5  -9.85   0.0         0
2  -2.95  1.50  0.00  69.5  -6.15   0.0         0
3  -0.25  2.30  0.25  70.5  -3.45   0.0         0
4   0.80  3.90  0.00  69.5  -2.25   0.0         0
5   1.15  3.15  0.25  68.5  -2.05   0.0         0
6   1.35  2.80  0.00  60.5  -2.35   0.0         0
7   1.90  3.00  0.00  51.5  -4.05   0.0         0
8   1.60  2.55  0.00  48.0  -5.40   0.0         0
9   0.90  4.05  0.00  48.5  -6.15   0.0         0
10  0.45  3.45  0.00  52.5  -6.55   0.0         0
11  0.20  3.65  0.00  64.0  -5.80   0.0         0
12 -5.80  1.65  0.00  71.0  -9.85   0.0         0
13 -0.65  1.80  0.00  64.5  -6.50   0.0         0
14 -1.20  1.05  0.00  65.5  -7.80   0.0         0
15 -1.65  1.75  0.00  68.0  -6.60   0.0         0
16 -0.65  2.60  0.00  68.5  -6.65   0.0         0
17 -5.50  1.50  0.00  70.0 -10.75   0.0         0
18 -4.25  1.70  0.00  71.0 -10.95   0.0         0
19 -4.35  1.40  0.00  70.5 -11.40   0.0         0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210143 entries, 0 to 52565
Data columns (total 7 columns):
temp        210143 non-null float64
wind        210143 non-null float64
rain        210143 non-null float64
humi        210143 non-null float64
dew         210143 non-null float64
snow        210143 non-null float64
accident    210143 non-null int64
dtypes: float64(6), int64(1)
memory usage: 12.8 MB

In [12]:
df

        temp  wind  rain  humi    dew  snow  accident
0      -5.35  1.50  0.00  70.0  -9.85   0.0         0
1      -5.75  1.35  0.00  71.5  -9.85   0.0         0
2      -2.95  1.50  0.00  69.5  -6.15   0.0         0
3      -0.25  2.30  0.25  70.5  -3.45   0.0         0
4       0.80  3.90  0.00  69.5  -2.25   0.0         0
5       1.15  3.15  0.25  68.5  -2.05   0.0         0
6       1.35  2.80  0.00  60.5  -2.35   0.0         0
7       1.90  3.00  0.00  51.5  -4.05   0.0         0
8       1.60  2.55  0.00  48.0  -5.40   0.0         0
9       0.90  4.05  0.00  48.5  -6.15   0.0         0
10      0.45  3.45  0.00  52.5  -6.55   0.0         0
11      0.20  3.65  0.00  64.0  -5.80   0.0         0
12     -5.80  1.65  0.00  71.0  -9.85   0.0         0
13     -0.65  1.80  0.00  64.5  -6.50   0.0         0
14     -1.20  1.05  0.00  65.5  -7.80   0.0         0
15     -1.65  1.75  0.00  68.0  -6.60   0.0         0
16     -0.65  2.60  0.00  68.5  -6.65   0.0         0
17     -5.50  1.50  0.00  70.0 -10.75   0.0         0
18     -4.25  1.70  0.00  71.0 -10.95   0.0         0
19     -4.35  1.40  0.00  70.5 -11.40   0.0         0
20     -4.70  1.55  0.00  71.0 -11.55   0.0         1
21     -4.75  1.85  0.00  72.0 -10.65   0.0         0
22     -4.80  1.90  0.00  70.5 -10.15   0.0         1
23     -3.95  1.40  0.00  66.5  -8.85   0.0         1
24     -0.05  2.95  0.00  70.5  -5.85   0.0         0
25      0.15  3.30  0.00  73.0  -5.05   0.0         0
26     -2.55  2.65  0.00  40.5 -13.45   0.0         0
27     -2.60  3.90  0.00  38.0 -13.95   0.0         0
28     -1.75  3.50  0.00  37.5 -13.80   0.0         0
29     -1.10  2.90  0.00  34.0 -14.35   0.0         0
...      ...   ...   ...   ...    ...   ...       ...
52536   0.75  0.95  0.00  42.0 -13.05   0.0         0
52537   2.65  1.90  0.00  33.5 -13.10   0.0         0
52538   3.25  1.75  0.00  28.5 -13.15   0.0         0
52539   4.00  1.90  0.00  26.0 -12.65   0.0         0
52540   3.85  1.75  0.00  21.5 -15.00   0.0         0
52541   3.60  2.00  0.00  20.5 -15.55   0.0         0
52542   2.85  2.30  0.00  16.0 -18.80   0.0         0
52543   2.25  0.95  0.00  14.0 -21.00   0.0         0
52544  -0.20  1.05  0.00  16.5 -19.95   0.0         0
52545  -0.10  1.10  0.00  15.0 -21.05   0.0         0
52546  -5.05  1.50  0.00  46.5 -14.75   0.0         0
52547  -0.10  3.30  0.00  17.0 -19.65   0.0         0
52548  -1.05  1.60  0.00  19.0 -19.25   0.0         0
52549  -1.75  1.80  0.00  23.0 -17.65   0.0         0
52550  -3.45  1.65  0.00  23.5 -18.15   0.0         0
52551  -4.90  1.75  0.00  50.0 -14.45   0.0         0
52552  -4.90  1.45  0.00  51.5 -14.60   0.0         0
52553  -5.40  1.55  0.00  53.0 -14.80   0.0         0
52554  -5.50  1.60  0.00  54.0 -14.85   0.0         0
52555  -5.60  1.70  0.00  55.0 -14.95   0.0         0
52556  -4.95  2.55  0.00  57.5 -14.75   0.0         0
52557  -2.85  1.25  0.00  52.0 -13.95   0.0         0
52558  17.80  0.60  0.00  79.5  18.40   0.0         0
52559  18.30  0.60  0.00  72.5  17.45   0.0         0
52560  21.90  1.20  0.00  48.0   7.25   0.0         0
52561   8.60  0.20  0.00  91.0   4.85   0.0         0
52562  11.20  1.40  0.00  87.0   6.15   0.0         0
52563  12.30  2.10  0.00  86.5   8.45   0.0         0
52564   9.90  0.80  0.00  74.0   8.65   0.0         0
52565  10.90  0.90  0.00  73.5   8.70   0.0         0

[210143 rows x 7 columns]

In [13]:
df.to_excel('all.xlsx')

## 사고요인별 결과값 컬럼 추가

In [1]:
df = pd.read_excel('/Users/lesson6_mac/Downloads/comb_mini_c.xlsx')
df.head()

,Cause,humi,temp,wind,rain,dew,snow,dew_c,wind_c,temp_c,humi_c,rain_c,snow_c
0,일반조난,34.50,-12.725,3.000,0.0,-23.00,11.250,1.0,2.0,1.0,2.0,0,1
1,일반조난,46.25,-5.675,1.775,0.0,-14.65,8.925,2.0,1.0,1.0,3.0,0,1
2,산악기타,62.25,-2.900,2.475,0.0,-7.35,3.700,2.0,2.0,2.0,3.0,0,1
3,일반조난,59.50,-0.300,1.800,0.0,-6.00,3.525,3.0,1.0,2.0,3.0,0,1
4,일반조난,55.00,0.700,1.400,0.0,-5.00,3.450,3.0,1.0,2.0,3.0,0,1

In [3]:
df['Cause'].value_counts()

일반조난    11978
산악기타     8146
실족추락     7919
개인질환     2923
탈진탈수      450
암벽등반      174
낙석낙빙       46
저체온증       29
Name: Cause, dtype: int64

In [4]:
lists = ['일반조난', '산악기타', '실족추락', '개인질환', '탈진탈수','암벽등반','낙석낙빙', '저체온증']

In [5]:
for i in lists:
    df[i] = np.where(df['Cause']==i, 1, 0)

In [6]:
df.head()

,Cause,humi,temp,wind,rain,dew,snow,dew_c,wind_c,temp_c,...,rain_c,snow_c,일반조난,산악기타,실족추락,개인질환,탈진탈수,암벽등반,낙석낙빙,저체온증
0,일반조난,34.50,-12.725,3.000,0.0,-23.00,11.250,1.0,2.0,1.0,...,0,1,1,0,0,0,0,0,0,0
1,일반조난,46.25,-5.675,1.775,0.0,-14.65,8.925,2.0,1.0,1.0,...,0,1,1,0,0,0,0,0,0,0
2,산악기타,62.25,-2.900,2.475,0.0,-7.35,3.700,2.0,2.0,2.0,...,0,1,0,1,0,0,0,0,0,0
3,일반조난,59.50,-0.300,1.800,0.0,-6.00,3.525,3.0,1.0,2.0,...,0,1,1,0,0,0,0,0,0,0
4,일반조난,55.00,0.700,1.400,0.0,-5.00,3.450,3.0,1.0,2.0,...,0,1,1,0,0,0,0,0,0,0

In [7]:
df.to_excel('/Users/lesson6_mac/Downloads/comb_mini_c.xlsx')